.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/premium-photo/top-view-modern-workspace-with-paperwork-digital-devices-copy-space_67155-7191.jpg?size=626&ext=jpg&ga=GA1.1.1668626449.1692894745&semt=ais');
    background-size: cover;
  }
  
  .admin-login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .admin-login-form h2 {
    margin-bottom: 20px;
  }
  
  .admin-login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .admin-login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .admin-login-form button:hover {
    background-color: #0056b3;
  }
  